<div class="modal modal-product-area" [class]="modalNewProduct ? 'open' : ''">
<p-dialog [(visible)]="modalNewProduct" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
          styleClass="p-fluid">
    <form id="msform" [formGroup]="productForm" (ngSubmit)="addNewProduct()">
    <div class="field">
      <label for="name_product">Name</label>
      <input type="text"  id="name_product" formControlName="name_product" required autofocus/>
    </div>
    <div class="field">
      <label for="image">Image</label>
      <input type="text"  id="image" formControlName="image" required autofocus/>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea id="description" required rows="3" formControlName="description"
                cols="20"></textarea>
    </div>

    <div class="field">
      <div class="field">
        <label for="type_product">Inventory Status</label>
        <select id="type_product" formControlName="type_product">
          <option *ngFor="let option of type_product" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="price">Price</label>
        <input type="number" id="price" mode="currency" currency="USD" formControlName="price"
               locale="en-US" />
      </div>
      <div class="field col">
        <label for="quantity">Price</label>
        <input type="number" id="quantity" mode="currency" currency="USD" formControlName="quantity"
               locale="en-US" />
      </div>
    </div>
    <div class="button-container">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancel()" ></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
    </div>
    </form>

</p-dialog>
</div>
