<div class="modal modal-product-area" [class]="modalEditProduct ? 'open' : ''">
  <p-dialog [(visible)]="modalEditProduct" [style]="{ width: '450px' }" header="Edit Product" [modal]="true"
            styleClass="p-fluid">
    <form id="msform" [formGroup]="productForm" (ngSubmit)="editProduct()">
      <div class="field">
        <label for="name_product">Name</label>
        <input type="text"  id="name_product" class="form-control" formControlName="name_product"  required autofocus/>
      </div>
      <div class="field">
        <label for="image">Image</label>
        <input type="text"  id="image" formControlName="image" class="form-control" required autofocus/>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea id="description" required rows="3" formControlName="description" class="form-control"
                  cols="20"></textarea>
      </div>


      <div class="formgrid grid">
        <div class="field col">
          <label for="price">Price</label>
          <input type="number" id="price" mode="currency" currency="USD" formControlName="price" class="form-control"
                 locale="en-US" />
        </div>
      </div>
      <div class="button-container">
        <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancel()" ></button>
        <button pButton label="Save" icon="pi pi-check" class="p-button-text"></button>
      </div>
    </form>

  </p-dialog>
</div>
