<div class="card">
    <div class="content-page">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" style="font-size: 10px"
                      (click)="openNew()" ></button>
            </ng-template>

            <ng-template pTemplate="right">
              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
          </p-toolbar>
      <app-add-sample *ngIf="addNewProductModal" [modalNewProduct]="addNewProductModal" (closeModalNewProduct)="hideDialog()"></app-add-sample>
      <app-edit-sample *ngIf="editProductModal" [modalEditProduct]="editProductModal"
                        [ProductId]="getProductId"
                        (closeModalNewProduct)="hideDialog()"></app-edit-sample>


                        <p-table [value]="products"
                        [rows]="10"
                        [paginator]="true"
                        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                        [tableStyle]="{ 'min-width': '75rem' , 'font-size':'14px','max-height': '400px', 'overflow-y': 'auto'}"
                        [rowHover]="true"
                        dataKey="id"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between">
                              <h5 class="m-0">Manage Products</h5>
                              <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" placeholder="Search..."/>
                                    </span>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th pSortableColumn="date" style="min-width:15rem">Date
                                <p-sortIcon field="date"></p-sortIcon>
                              </th>

                              <th pSortableColumn="numSample">num Sample
                                <p-sortIcon field="numSample"></p-sortIcon>
                              </th>

                              <th style="min-width:10rem">Actions
                              </th>
                            </tr>
                          </ng-template>

                            <ng-template pTemplate="body" let-Sample>
                                <tr>

                                    <td><span class="p-column-title">date</span>{{Sample.date}}</td>
                                    <td><span class="p-column-title">numSample</span>{{Sample.numSample}}</td>
                                    <td>
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                                (click)="EditProduct(Sample.idSample)"></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                                (click)="deleteProduct(Sample.idSample)"  ></button>
                                      </td>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
                </div>

